.container{
    background-color: antiquewhite;
    padding-top: 20px;
    height: 100vh;
    text-align: center;
}

.class1{
    padding: 10px;
    
}

.head1{
    text-decoration: underline;
    color:black;
    padding-top: 10px;
}
body{
    background-color: #CBE0D9 ;
}

.but1{
    margin-top: 10px;
}
